
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* banner-section-container start here  */

.banner-section-container {
    max-width:1920;
    border:2px dashed rgba(103,101,101,0.282);
    height: 602px;
    margin:0 auto;
    margin-top: 131px;
    background-image:url(../assets/Hero-bg.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    justify-content:center;
    align-items:center;
}

.banner-button {
    padding: 12px 18px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    text-decoration: none;
    display: inline-block;
}

.banner-image-content {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

#text-color {
    color: rgb(13, 19, 33);
}

/* banner-section-container end here  */
/* banner-section-container end here  */

/* development-container start here  */
